[defaults]
# Inventory location
inventory = inventory

# Disable host key checking to avoid interactive prompts during local testing
host_key_checking = False

# Suppress Python interpreter warnings
interpreter_python = auto_silent

[privilege_escalation]
become_method = sudo