---
- name: Install Docker and Compose
  become: true
  apt:
    name:
      - docker.io
      - docker-compose
      - python3-docker
      - python3-pip
    state: present
    update_cache: yes
  tags: [docker]

- name: Ensure Docker service is running
  become: true
  service:
    name: docker
    state: started
    enabled: yes
  tags: [docker]

- name: Add user to docker group
  become: true
  user:
    name: "{{ ansible_user_id }}"
    groups: docker
    append: yes
  tags: [docker]

- name: Print group membership reminder
  debug:
    msg: "NOTE: You must log out and log back in for docker group permissions to take effect."
  tags: [docker]