---
- name: Configure Git Global Identity
  git_config:
    scope: global
    name: "{{ item.key }}"
    value: "{{ item.value }}"
  loop: "{{ git_config }}"
  tags: [git]

- name: Configure Pyenv Environment
  blockinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED: PYENV"
    block: |
      export PYENV_ROOT="$HOME/.pyenv"
      [[ -d $PYENV_ROOT/bin ]] && export PATH="$PYENV_ROOT/bin:$PATH"
      eval "$(pyenv init -)"
      eval "$(pyenv virtualenv-init -)"
  tags: [pyenv_config]

- name: Configure NVM Environment
  blockinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED: NVM"
    block: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
  tags: [nvm_config]

- name: Configure Bash Aliases
  blockinfile:
    path: "{{ ansible_user_dir }}/.bashrc"
    marker: "# {mark} ANSIBLE MANAGED: ALIASES"
    block: |
      alias cat='batcat'
      alias ll='ls -alF'

      # Clipboard Shortcut (Usage: echo "foo" | clip)
      alias toclip='xclip -selection clipboard'

      [ -d "$HOME/.local/bin" ] && export PATH="$HOME/.local/bin:$PATH"

      fastfetch

      if [ -f /usr/share/doc/fzf/examples/key-bindings.bash ]; then
        source /usr/share/doc/fzf/examples/key-bindings.bash
      fi
  tags: [aliases]