---
- name: Ensure .ssh directory exists
  file:
    path: "{{ ansible_user_dir }}/.ssh"
    state: directory
    mode: '0700'
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
  tags: [ssh]

- name: Generate SSH Key (Ed25519)
  openssh_keypair:
    path: "{{ ansible_user_dir }}/.ssh/id_ed25519"
    type: ed25519
    comment: "{{ ansible_user_id }}@{{ ansible_hostname }}"
    state: present
  register: ssh_key_gen
  tags: [ssh]

- name: Display Public Key
  debug:
    msg: "{{ ssh_key_gen.public_key }}"
  tags: [ssh]