---
- name: Update package cache (Debian/Ubuntu)
  become: true
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"
  tags: [apt_update]

- name: Install Common Utilities
  become: true
  package:
    name: "{{ item }}"
    state: present
  loop: "{{ system_packages }}"