---
- name: Update package cache (Debian/Ubuntu)
  become: true
  apt:
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install Common Utilities
  become: true
  package:
    name: "{{ item }}"
    state: present
  loop: "{{ system_packages }}"

- name: Install Build Dependencies
  become: true
  apt:
    name:
      - build-essential
      - python3-pip
  when: ansible_os_family == "Debian"